<footer class="bg-black text-grey">
    <div class="flex flex-col justify-start py-20 mx-auto px-6 xl:px-0 max-w-small">
        <div>
            <div class="flex flex-col lg:flex-row justify-evenly lg:justify-between items-center mb-16">
                <a href="#"><img src="dist/img/assets/logo-giarddesign--light.svg" alt="logo firmy giarddesign"
                        class="mb-4 md:mb-0"></a>
                <div class="flex flex-col lg:flex-row justify-center items-center gap-6">
                    <p class="text-base text-center md:text-left"> Daj znać, co możemy dla Ciebie zrobić!</p>
                    <button type="button"
                        class=" text-grey bg-green font-extralight rounded-full text-base px-6 py-3 hover:bg-green-dark duration-150">Skontaktuj
                        się z nami</button>
                </div>
            </div>
            <hr>
            <div class="flex flex-col xl:flex-row gap-8 xl:gap-0 justify-between items-center mt-16">
                <ul class="hidden sm:flex gap-8 lg:gap-10 xl:gap-12">
                    <li><a href="#kontakt" target="_blank" class="text-sm">Kontakt</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" class="text-sm">Instagram</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank" class="text-sm">Facebook</a></li>
                    <li><a href="https://pl.linkedin.com/" target="_blank" class="text-sm">Linkedin</a></li>
                </ul>
                <div class="flex flex-col sm:flex-row gap-6 md:gap-12 xs:mt-8 lg:mt-0">
                    <a href="tel:000-000-000" class="text-center text-sm">000-000-000</a>
                    <a href="mailto:giarddesign@kontakt.pl" class="text-sm">giarddesign@kontakt.pl</a>
                </div>
            </div>
        </div>
        <div
            class="flex flex-col sm:flex-row gap-4 sm:gap-0 justify-evenly lg:justify-between items-center mt-16 md:mt-28">
            <p>Prawa zastrzeżone &copy 2022</p>
            <p>made by </p>
            <a href="https://adrespect.pl/" target="_blank"><img src="dist/img/assets/logo-adrespect.webp"
                    alt="logo firmy adRespect" loading="lazy"></a>
        </div>
    </div>
</footer>