@use 'hamburger/hamburger.css';
@use 'scrollbar/scrollbar.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
.animate-slide {
	animation: slideIn 1s ease-in-out;
}
@keyframes slideOut {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
.animate-prevSlide{
	animation: slideOut 1s ease-in-out;
}



.searchForm:hover .searchInput, .searchForm:valid .searchInput{
	width: 200px;
}

.searchForm:valid {
	width: 224px;
}


@keyframes fadeOut {
	0% {
		opacity: 1;
	  }
	  50% {
		opacity: 0.5;
	  }
	  100% {
		opacity: 0;
		visibility: hidden;
	  }
	}
  
  .animate-fadeOut {
	animation: fadeOut 4s ease-in-out forwards;
  }